*.class

*.log

*.ctxt
es-data/
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

hs_err_pid*

.idea/
**/target/**
*.iml

**/*/.terraform/

**/node_modules
.DS_Store

.project

postgres-data/

*.joblib

services/scoring-service/extras/testing/metadata.json

ui/sector-ui/container/build/**
terraform.tfstate
*.tfstate*
ticks.txt

__pycache__/
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## devops
credentials.y*
rdso-accounts.txt

# Data Science data and models
services/data-science-service/imdb-scraper/data/*
services/data-science-service/models/*

# Terraform plan ouput files
config/**/plan

# HSM cert files
config/hsm-setup/**/*.crt
config/hsm-setup/**/*.csr
config/hsm-setup/**/*.key
config/hsm-setup/**/*.zip
config/hsm-setup/**/*.pub
config/hsm-setup/**/*.pem
config/hsm-setup/**/*.srl
config/hsm-setup/**/*.txt
#devops
.scannerwork
