*.class

*.log

*.ctxt

.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

hs_err_pid*

.idea/
**/target/**
*.iml

.terraform/

**/node_modules
.DS_Store

.project

postgres-data/

*.joblib

services/scoring-service/extras/testing/metadata.json

ui/sector-ui/container/build/**
terraform.tfstate
*.tfstate*
ticks.txt

__pycache__/
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.idea/

es-data/