body {
    background: #fffef7;
}

.text-field, .search-results {
    width: 72%;
}

.text-field input {
    font-size: 90px;
    margin-left: 30px;
}

.search-results {
    margin-top: 50px;
}

.search-icon {
    font-size: 40px !important;
    margin-left: 20px;
}

.search-results-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.search-toolbar {
    justify-content: space-between;
    height: 120px;
}

.start-power-text {
    height: 28px;
    width: 71px;
    font-size: 24px;
    letter-spacing: -1.65px;
    line-height: 28px;
    font-weight: normal;
}

.star-text {
    font-weight: bold;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
