.text-field {
    width: 72%;
}

.text-field > div {
    color: white;
}

.MuiInput-underline:before {
    border-bottom: 1px solid white !important;
}

.text-field input {
    font-size: 90px;
    margin-left: 30px;
}

.search-icon {
    font-size: 40px !important;
    margin-left: 20px;
}

.search-results {
    background: white;
}
