.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a.navigation-link {
    text-decoration: none;
    color: white;
}

.lineage {
    font-weight: bold;
}