.dossier-main-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.dossier-main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

.dossier-name {
    font-size: 60px;
}

.genres {
    margin-top: 16px;
}

.genres .genre-chip {
    background: #2f2f2f;
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
}

.genre-chip:not(:first-child) {
    margin-left: 16px;
}

.auto-redaction-toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
}

.auto-redaction-toggle-label {
    margin-right: 24px;
}

.genres-and-auto-redaction {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
